{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <title>Hello, Django PWA!</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
         <link rel="manifest" href="{% static 'manifest.json' %}">
         <meta name="theme-color" content="#f69435">
         <link rel="apple-touch-icon" href="{% static 'icons/icon-192x192.png' %}">
    </head>
    <body>
        {% block main %}
        {% endblock main %}
    </body>
</html>
